@use "../../global/"as g;

.c-button {
  &__recruit {
    background-color: g.$red;
    color: g.$white;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    padding: 16px 0;
    display: flex;
    justify-content: center;
    max-width: 292px;
    width: 100%;
    position: relative;

    @include g.mq(pc) {
      &::before {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background-color: g.$red-d;
        transform: scaleX(0);
        transform-origin: right;
        transition: all 0.3s ease;
        transition-property: transform;
      }

      &:hover {
        background: g.$red-d;

        .c-button__recruit--txt {
          color: rgba($color: white, $alpha: 0.7);
        }

        .c-button__recruit--arrow {
          background-image: url('../img/arrow_btn-recruit-hover.png');
        }

        &::before {
          transform: scaleX(1);
          transform-origin: left;
        }
      }
    }

    @include g.mq(sp) {
      @include g.font-rem(18);
    }
    &.disabled{
      background-color: g.$bg-d2;
      color: g.$white;
      text-align: center;
      text-decoration: none;
      .c-button__recruit--arrow{
        display: none;
      }
      .c-button__recruit--txt{
        color: g.$white;
      }
      &::before {
        background-color: g.$bg-d2;
      }
      &:hover {
        background-color: g.$bg-d2;
        &::before{
          transform: scaleX(0);
        }
      }
    }
  }

  &__recruit--txt {
    position: relative;
    color: g.$white;
    font-family: "Noto Sans JP", serif;
    font-weight: 600; //Regular
    line-height: 100%;
    letter-spacing: 0.06em;
    transition: all 0.3s ease-in-out;

    @include g.mq(pc) {
      @include g.font-rem(16);
    }

    @include g.mq(sp) {
      @include g.font-rem(18);
    }
  }

  &__recruit--arrow {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url('../img/arrow_btn-recruit.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 20px;
    height: 20px;
    display: block;
  }

  &__recruit--header {
    background-color: g.$red;
    color: g.$white;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    max-width: 133px;
    width: 100%;
    position: relative;
    white-space: nowrap;

    @include g.mq(pc) {
      padding: 16px 26px;
      transition: all 0.3s ease-in-out;

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background-color: g.$red-d;
        transform: scaleX(0);
        transform-origin: right;
        transition: all 0.25s ease-in-out;
        transition-property: transform;
      }

      &:hover {
        background: g.$red-d;
        .c-button__recruit--header-txt {
          color: rgba($color: white, $alpha: 0.7);
        }

        .c-button__recruit--header-arrow {
          background-image: url('../img/arrow_btn-recruit-hover.png');
        }

        &::before {
          transform: scaleX(1);
          transform-origin: left;
        }
      }
    }

    @include g.mq(sp) {
      max-width: 292px;
      width: 100%;
      padding: 16px 0;
      @include g.font-rem(18);
      background-position: right 14px center;
    }
    &.disabled{
      background-color: g.$line;
      color: g.$txt-d;
      max-width: 133px;
      width: 100%;
      border: 1px solid g.$line;
      .c-button__recruit--header-arrow{
        display: none;
      }
      .c-button__recruit--header-txt {
        color: g.$txt-d;
      }


      &::before{
        background-color: g.$line;
        color: g.$txt-d;
      }
      &:hover {
        background-color: g.$line;
        color: g.$txt-d;

      }
      @include g.mq(sp) {
        max-width: 292px;
        width: 100%;
      }

    }
  }

  &__recruit--header-txt {
    position: relative;
    color: g.$white;
    font-family: "Noto Sans JP", serif;
    font-weight: 600; //Regular
    line-height: 100%;
    letter-spacing: 0.06em;

    @include g.mq(pc) {
      @include g.font-rem(14);
      transition: all 0.25s ease-in-out;

    }

    @include g.mq(sp) {
      @include g.font-rem(18);
    }
  }

  &__recruit--header-arrow {
    background-image: url('../img/arrow_btn-recruit.png');
    background-repeat: no-repeat;
    background-size: 100% auto;

    @include g.mq(pc) {
      background-image: url('../img/arrow_btn-recruit.png');
      background-repeat: no-repeat;
      background-size: 100% auto;
      width: 16px;
      height: 16px;
      display: block;
      margin-left: 5px;
      z-index: 1;
    }

    @include g.mq(sp) {
      position: absolute;
      right: 12px;
      top: 50%;
      transform: translateY(-50%);
      width: 20px;
      height: 20px;
      display: block;
    }
  }

  &__midcarrer--header {
    background-color: g.$line;
    color: g.$txt-d;
    text-align: center;
    font-family: "Noto Sans JP", serif;
    font-weight: 600; //Regular
    line-height: 100%;
    letter-spacing: 0.06em;
    white-space: nowrap;
    padding: 16px 0;
    display: block;
    max-width: 133px;
    width: 100%;

    @include g.mq(pc) {
      @include g.font-rem(14);
      padding: 17px 37px;
      transition: all 0.3s ease-in-out;

    }

    @include g.mq(sp) {
      background-color: g.$bg-d2;
      color: g.$white;
      display: block;
      max-width: 292px;
      width: 100%;
      @include g.font-rem(18);
      background-position: right 14px center;
    }

  }


  &__common--wrapper{
      display: flex;
      justify-content: center;
      align-items: center;
      @include g.mq(pc){
        max-width: 292px;
        width: 292px;
        min-width: 292px;
        margin: 0 auto;
        position: relative;
      }
      @include g.mq(sp){
        padding: 0 6.5vw;
      }
  }
  &__common{
    background-color: g.$white;
    border: solid 1px g.$red;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    padding: 16px 0;
    display: flex;
    justify-content: center;
    max-width: 292px;
    width: 100%;
    position: relative;
    color: g.$red;
    @include g.mq(pc) {
      &::before {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        display: block;
        padding: 14px 0 ;
        width: 100%;
        height: 100%;
        background-color: g.$red;
        transform: scaleX(0);
        transform-origin: right;
        transition: all 0.3s ease;
        transition-property: transform;
      }

      &:hover {
        background: g.$red;

        .c-button__common--txt {
          color: g.$white;
        }

        .c-button__common--arrow {
          background-image: url('../img/arrow_btn-recruit.png');
        }
        &::before {
          transform: scaleX(1);
          transform-origin: left;
        }
      }
    }

    @include g.mq(sp){
      display: block;
      width: 100%;
      padding: 14px 0;
    }
    &:disabled{
      border: solid 1px g.$txt;
      color: g.$txt;
      &::before{
        background-color: g.$white;
      }
      .c-button__common--txt {
        color: g.$txt;
      }
      .c-button__common--arrow {
        background-image: url('../img/arrow_btn-common-disable.png');
      }
      &:hover {
        background: g.$white;
      }
    }
  }
  &__common--txt{
    font-family: "Noto Sans JP", serif;
    line-height: 100%;
    letter-spacing: 0.06em;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    z-index: 2;
    color: g.$red;
    @include g.mq(pc){
      @include g.font-rem(16);
    }
    @include g.mq(sp){
      @include g.font-rem(16);
    }
  }
  &__common--arrow{
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url('../img/arrow_btn-recruit.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 20px;
    height: 20px;
    display: block;
  }

  &__return{
    font-family: "Noto Sans JP", serif;
    line-height: 100%;
    letter-spacing: 0.006em;
    font-weight: 700;
    background-image: url('../img/arrow_btn-return.png');
    background-repeat: no-repeat;
    display: block;
    @include g.mq(pc){
      @include g.font-rem(16);
      text-align: left;
      width: 100%;
      padding-left: 18px;
      background-size: 10px 7px;
      background-position: left center;
    }
    @include g.mq(sp){
      @include g.font-rem(16);
      text-align: left;
      width: 100%;
      padding-left: 18px;
      background-size: 10px 7px;
      background-position: left center;
    }
  }

  //ヘッダー--
  &__modal {
    height: 60px;
    width: 60px;

    svg {
      height: 60px;
      position: absolute;
      width: 60px;
      cursor: pointer;
      background-color: rgb(255 255 255 / 0);

    }

    .burger {
      filter: url(#gooeyness);
      transform: translateZ(0);
      // will-change: filter;
    }

    .x {
      transform: scale(0);
      transition: transform 400ms;
    }

    .line {
      fill: none;
      stroke: #000;
      stroke-width: 2px;
      stroke-linecap: round;
      stroke-linejoin: round;
      transform-origin: 50%;
      transition: stroke-dasharray 500ms 200ms, stroke-dashoffset 500ms 200ms,
        transform 500ms 200ms;
    }

    .x .line {
      stroke-width: 2px;
    }


    /* Second Menu CSS Only */
    .line1 {
      stroke-dasharray: 21 185.62753295898438;
      transition-delay: 0;
    }

    .line2 {
      stroke-dasharray: 21 178.6514129638672;
      transition-delay: 30ms;
    }

    .line3 {
      stroke-dasharray: 21 197.92425537109375;
      transition-delay: 60ms;
    }

    .line4 {
      stroke-dasharray: 21 190.6597137451172;
      transition-delay: 90ms;
    }

    .line5 {
      stroke-dasharray: 21 208.52874755859375;
      transition-delay: 120ms;
    }

    .line6 {
      stroke-dasharray: 21 186.59703063964844;
      transition-delay: 150ms;
    }

    &.active {
      .line1 {
        stroke-dasharray: 5 185.62753295898438;
        stroke-dashoffset: -155px;
      }

      .line2 {
        stroke-dasharray: 5 178.6514129638672;
        stroke-dashoffset: -150px;
      }

      .line3 {
        stroke-dasharray: 5 197.92425537109375;
        stroke-dashoffset: -190px;
      }

      .line4 {
        stroke-dasharray: 5 190.6597137451172;
        stroke-dashoffset: -180px;
      }

      .line5 {
        stroke-dasharray: 5 208.52874755859375;
        stroke-dashoffset: -160px;
      }

      .line6 {
        stroke-dasharray: 5 186.59703063964844;
        stroke-dashoffset: -186px;
      }

      .x {
        transition: transform 400ms 250ms;
      }

      .line {
        transition: stroke-dasharray 500ms, stroke-dashoffset 500ms, transform 500ms;
      }

      .x {
        transform: scale(1);
        transition: transform 400ms 350ms;
      }

      /* Second Menu CSS Only */
    }


  }
}

.c-button {
  &__header-sp {
    
    @include g.mq(pc) {
      display: none;
    }

    @include g.mq(sp) {
      position: absolute;
      right: 3px;
      top: 3px;
      padding: 26px 14px;
      z-index: 5;
      cursor: pointer;
      user-select: none;

      span {
        height: 1px;
        width: 24px;
        border-radius: 2px;
        background-color: #000;
        position: relative;
        display: block;
        transition: all .5s ease-in-out;

        &:before {
          top: -8px;
          visibility: visible;
        }

        &:after {
          top: 8px;
        }

        &:before,
        &:after {
          height: 1px;
          width: 24px;
          border-radius: 2px;
          background-color: #000;
          position: absolute;
          content: "";
          transition: all .3s ease-in-out;
        }
      }

      &:hover span {
        background: #000;

        &:before,
        &:after {
          background: #000;
        }
      }
    }
  }

  &__header-spinput {
    display: none;
    &:checked~ {
      .l-header__modal {
        visibility: visible;
        
      }


      .c-button__header-sp {
        &:hover span {
          background: transparent;
        }

        span {
          background: transparent;

          &:before {
            transform: rotate(45deg) translate(6px, 6px);
          }

          &:after {
            transform: rotate(-45deg) translate(6px, -6px);
          }
        }
      }
    }


  }

}





.c-button__header-sp{
  &.is-checked{
      &:hover span {
          background: transparent;
        }

        span {
          background: transparent;

          &:before {
            transform: rotate(45deg) translate(5.5px, 5.5px)!important;
          }

          &:after {
            transform: rotate(-45deg) translate(5.5px, -5.5px)!important;
          }
        }
      }
    
  }
