@use "../../global/" as g;

.p-company{
  &__introduce{

    @include g.mq(pc){
      display: flex;
      justify-content: space-between;
      position: relative;
    }
    @include g.mq(sp){
      display: block;
    }
  }
  &__introduce--image{
    display: block;
    @include g.mq(pc){
      width: clamp(280px, 280px, 280px);
      width: 280px;
      background-image: url('../img/company-PhilosophyVision.png');
      background-repeat: no-repeat;
      background-size: auto 137.8%; 
      background-position: center center;
    }
    @include g.mq(sp){
      width: 100%;
      margin-top: 32px;
      height: 55vw;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url('../img/company-PhilosophyVision-sp.png');
    }

  }

  &__introduce--maintext{
    @include g.mq(pc){
      width: calc(100% - 336px);
    }
    @include g.mq(sp){
      width: 100%;
      padding: 0 g.$spPadding;
    
    }
  }
  &__introduce--maintext-blc{
    @include g.mq(pc){
      margin-bottom: 72px;
    }
    @include g.mq(sp){
      margin-bottom: 11.5vw;
    }
  }
  &__introduce--smallblc{
    @include g.mq(pc){
      margin-bottom: 24px;
    }
    @include g.mq(sp){
      margin-bottom: 6.8vw;
    }
  }

  &__service{
    background-color: g.$bg-d;
  }
  &__service--inner{
    @include g.mq(pc){
      display: flex;
      justify-content: space-between;
      align-items: stretch;
    }
    @include g.mq(sp){
      display: block;
    }
  }
  &__profile--manager-td{
    @include g.mq(pc){
      display: flex;
      & + .p-company__profile--manager-td{
        margin-top: 24px;
      }
    }
    @include g.mq(sp){
      display: flex;
      & + .p-company__profile--manager-td{
        margin-top: 20px;
      }
    }
    .u-text__profile--txt{
      line-height: 100%;
    } 
  }
  &__profile--manager-blc{
    border-right: 1px solid g.$line;

    @include g.mq(pc){
      min-width: 112px;
      margin-right: 32px;
    }
    @include g.mq(sp){
      min-width: 6em;
      margin-right: 16px;
    }
  }
  // &__profile--info{

  // }
  // &__profile--table{
  // }
  &__profile--table-tr{
    display: flex;
    align-items: center;
    @include g.mq(pc){
      margin-bottom: 32px;
    }
    @include g.mq(sp){
      margin-bottom:24px;
    }
  }
  &__profile--table-th{
    text-align: left;
    border-right: solid g.$line 1px;

    @include g.mq(pc){
      width: 120px;
      max-width: 120px;
      padding: 30px 0;
    }
    @include g.mq(sp){
      width: 5.6em;
      max-width: 5.6em;
      min-width: 5.6em;
      padding: 30px 0;
    }
  }

  &__profile--table-td{
    @include g.mq(pc){
      padding: 30px 0 30px 40px;
    }
    @include g.mq(sp){
      padding: 0 0 0 24px;
    }
  }
  &__profile--note{
    margin-top: 1em;
  }
  &__message{
  }
  &__message--inner{
    @include g.mq(pc){
    }
    @include g.mq(sp){

    }
  }
  &__message--word{
    background-color: g.$white;
    width: 100%;
    padding: 32px;
    @include g.mq(pc){
    }
  }
  &__message--inner{
    
    @include g.mq(pc){
      padding: 98px 0 24px 341px;
      height: 100%;
      position: relative;
      background-image:url('../img/company-message.jpg');
      background-repeat: no-repeat;
      background-position: left top;
      background-size: auto 100%;
    }
    @include g.mq(sp){
      padding: 61.14vw 0 0 9.15vw;
      height: 100%;
      position: relative;
      background-image:url('../img/company-message-sp.png');
      background-repeat: no-repeat;
      background-position: left top;
      background-size: 62.5vw 96.47vw;
    }
  
  }
  &__message--enname{
    @include g.mq(pc){
      margin: 6px 0 0 24px;
    }
    @include g.mq(sp){
      margin: 6px 0 0 24px;
    }
  }
  &__message--ttlblc{
    display: flex;
    align-items: center;
    @include g.mq(pc){
      margin: 28px 0;
    }
    @include g.mq(sp){
      margin: 32px 0;
    }
  }
  &__message--feature{
    @include g.mq(pc){
      margin: 0 0 16px;
    }
    @include g.mq(sp){
      margin: 0 0 16px;
    }
  }

}