@use "../../global/" as g;

.p-company{
  &__introduce{
    @include g.mq(pc){
      display: flex;
      justify-content: space-between;
      position: relative;
      align-items: stretch; 

    }
    @include g.mq(sp){
      display: block;
    }
  }
  img{
    display: block;
    @include g.mq(pc){
      width: clamp(280px, 280px, 280px);
      height: 100%;
      width: 280px;
      object-fit: cover;
    }
    @include g.mq(sp){
      width: 100%;
      margin-top: 9vw;
      height: 55vw;
      object-fit: cover;
    }

  }
  &__introduce--maintext{
    @include g.mq(pc){
      width: calc(100% - 336px);
    }
    @include g.mq(sp){
      width: 100%;
      padding: 0 g.$spPadding;
    
    }
  }
  &__introduce--maintext-blc{
    @include g.mq(pc){
      margin-bottom: 72px;
    }
    @include g.mq(sp){
      margin-bottom: 11.5vw;
    }
  }
  &__introduce--smallblc{
    @include g.mq(pc){
      margin-bottom: 24px;
    }
    @include g.mq(sp){
      margin-bottom: 6.8vw;
    }
  }

  &__service{
    background-color: g.$bg-d;
  }
  &__service--inner{
    @include g.mq(pc){
      display: flex;
      justify-content: space-between;
      align-items: stretch;
    }
    @include g.mq(sp){
      display: block;
    }
  }
  // &__profile{

  // }
  // &__profile--info{

  // }
  // &__profile--table{
  // }
  &__profile--table-tr{
    display: flex;
    align-items: center;
    @include g.mq(pc){
      margin-bottom: 32px;
    }
    @include g.mq(sp){
      margin-bottom: g.$spPadding;
    }
  }
  &__profile--table-th{
    text-align: left;
    border-right: solid g.$line;

    @include g.mq(pc){
      width: 120px;
      max-width: 120px;
      padding: 30px 0;
    }
    @include g.mq(sp){
      width: 5.6em;
      max-width: 5.6em;
      min-width: 5.6em;
      padding: 8.5vw 0;
    }
  }

  &__profile--table-td{
    @include g.mq(pc){
      padding: 30px 0 30px 40px;
    }
    @include g.mq(sp){
      padding: 0 0 0 6.8vw;
    }
  }
  &__profile--note{
    margin-top: 1em;
  }
  @include g.mq(pc){
  }
  @include g.mq(sp){
  }
}