@use "../../global/"as g;

.p-home {
  position: relative;
  @include g.mq(sp) {
  }

  @include g.mq(sp) {
  }

  &__fv {
    position: relative;
  }


  &__kv--wrapper {
    @include g.mq(pc) {
      width: 100%;
      padding-left: 25vw;
      height: calc(100vh - g.$pcHeader);
      max-height: calc(100vh - g.$pcHeader);
      img {
        width: auto;
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: left center;

      }
    }
    @media screen and (min-width: 1280px) {
      padding-left: 50%;
      padding-left: calc(50vw - 250px);
    }
    @include g.mq(sp) {
    }
  }

  &__kv {
    @include g.mq(pc) {
      position: relative;
      overflow: hidden;
      height: 100vh;
      max-height: 100vh;
      height: calc(100vh - g.$pcHeader);
      max-height: calc(100vh - g.$pcHeader);

      &::before {
        animation: img-wrap 1.5s cubic-bezier(0.4, 0, 0.2, 1) forwards;
        background: g.$bg;
        content: '';
        inset: 0;
        pointer-events: none;
        position: absolute;
        z-index: 1;
      }
    }

    @include g.mq(sp) {
      display: none;
    }


  }

  &__scroll {
    @include g.mq(pc) {
      position: absolute;
      height: 163px;
      width: 14px;
      bottom: 0px;
      left: 7.8vw;
      display: block;
      animation-duration: 0.6s;
      animation-timing-function: ease-out;
      animation-fill-mode: forwards;
    }
    // @media screen and (min-width: 1280px) {
    //   left: calc(50vw - 550px);
    // }

    @include g.mq(sp) {
      display: none;
    }
    &.fadeOut {
      animation-name: fade-out;
      animation-duration: 0.6s;
      animation-timing-function: ease-out;
      animation-fill-mode: forwards;
    }
    &.fadeIn {
      animation-name: fade-in;
      animation-duration: 0.6s;
      animation-timing-function: ease-out;
      animation-fill-mode: forwards;
    }
    @keyframes fade-out {
      0% {
         opacity:  1;
      }
      100% {
         opacity: 0;
      }
    }
    @keyframes fade-in {
      0% {
         opacity:  0;
      }
      100% {
         opacity: 1;
      }
    }

  }

  &__scroll--wrapper {
    position: relative;
    height: 163px;
    width: 14px;
  }

  &__scroll--text {
    @include g.mq(pc) {
      @include g.font-rem(14);
      color: g.$red;
      font-weight: 700;
      letter-spacing: 0.03em;
      line-height: 100%;
      transform: rotate(0.75turn);
      position: absolute;
      left: -21px;
      bottom: 130px;
      display: inline-block;
    }
  }

  &__scroll--line {
    height: 100px;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 6px;

    &::after {
      content: "";
      display: block;
      width: 1px;
      border-left: 1px g.$red solid;
      animation: scroll 1.5s ease 0s infinite normal;
      margin: 0 auto 0;
    }
  }



  &__feature {
    @include g.mq(pc){
      top: calc(35vh + g.$pcHeader);
      position: fixed;
      left: calc(50%);
      transform: translate(-50%, 0);
      width: 1000px;
      margin: 0 auto;
      display: block;
      &.sticky{
        position: absolute;
      }

    }
    @include g.mq(sp){
      position: absolute;
      top: 94vw;
      left: 4.6vw;
      z-index: 2;
    }
  }
  &__feature--wrapper{
    @include g.mq(pc){

    }
  }
  &__feature--wrapper-flx{
    @include g.mq(pc){
    // padding-top: 5.8vh;
    // display: flex;
    // align-items: center;
    // width: 1000px;
    }
  }
  &__feature--pfirst {
    display: flex;
    overflow: hidden;
    @include g.mq(pc){
      margin-bottom: 20px;

    }
    @include g.mq(sp){
      margin-bottom: 16px;

    }
  }

  &__feature--psecond {
    display: flex;
    overflow: hidden;
  }

  &__feature--text {

    margin: 0 -1px;
    opacity: 0;
    /* 文字を透明化 */
    animation: textanimation 0.7s forwards;
  
    @include g.mq(pc){
      img{
        height: 5vw;
        max-height: 90px;
        width: auto;
      }
    }
    @include g.mq(sp){
      // @include g.font-rem(42);
      img{
        height: 14.2vw;
        width: auto;
      }

    }
    /* 1文字目 */
    &:nth-child(1) {
      animation-delay: 0.15s;
    }

    /* 2文字目 */
    &:nth-child(2) {
      animation-delay: 0.3s;
    }

    /* 3文字目 */
    &:nth-child(3) {
      animation-delay: 0.45s;
    }

    /* 4文字目 */
    &:nth-child(4) {
      animation-delay: 0.6s;
    }

    /* 5文字目 */
    &:nth-child(5) {
      animation-delay: 0.75s;
    }

    /* 6文字目 */
    &:nth-child(6) {
      animation-delay: 0.9s;
    }

    /* 7文字目 */
    &:nth-child(7) {
      animation-delay: 1.15s;
    }

    /* 8文字目 */
    &:nth-child(8) {
      animation-delay: 1.3s;
    }

    /* 9文字目 */
    &:nth-child(9) {
      animation-delay: 1.45s;
    }

    /* 10文字目 */
    &:nth-child(10) {
      animation-delay: 1.6s;
    }

  }

  &__feature--text-later {
    opacity: 0;
    /* 文字を透明化 */
    animation: textanimation 1s forwards;
    margin: 0 -1px;

    @include g.mq(pc){
      // @include g.font-rem(64);
      img{
        height: 5vw;
        max-height: 90px;
        width: auto;
      }
    }
    @include g.mq(sp){
      // @include g.font-rem(42);
      img{
        height: 14.2vw;
        width: auto;
      }
    }
    /* 1文字目 */
    &:nth-child(1) {
      animation-delay: 0.9s;
    }

    /* 2文字目 */
    &:nth-child(2) {
      animation-delay: 1.15s;
    }

    /* 3文字目 */
    &:nth-child(3) {
      animation-delay: 1.3s;
    }

    /* 4文字目 */
    &:nth-child(4) {
      animation-delay: 1.45s;
    }

    /* 5文字目 */
    &:nth-child(5) {
      animation-delay: 1.6s;
    }

    /* 6文字目 */
    &:nth-child(6) {
      animation-delay: 1.75s;
    }

    /* 7文字目 */
    &:nth-child(7) {
      animation-delay: 1.9s;
    }

    /* 8文字目 */
    &:nth-child(8) {
      animation-delay: 2.05s;
    }

    /* 9文字目 */
    &:nth-child(9) {
      animation-delay: 2.2s;
    }

    /* 10文字目 */
    &:nth-child(10) {
      animation-delay: 2.35s;
    }


  }

  &__aboutus {
    position: relative;
    @include g.mq(pc) {
      max-width: g.$pcInner;
      width: 100%;
      margin: 0 auto;
      padding: 180px g.$pcPadding;
  
    }

    @include g.mq(sp) {
      padding: 0 g.$spPadding 60px;
      width: 100%;
      margin: 0 auto;
    }
  }
  &__aboutus--kv{
    @include g.mq(pc) {
      display: none;
    }
    @include g.mq(sp) {
      // padding-bottom: 28.5vw;
      margin-right: -4.6vw;
      margin-left: -4.6vw;
      height: 100vw;
      position: relative;
      img{
        height: 100vw;
        width: auto;
        object-fit: cover;
      }
    }

  }

  &__aboutus--inner {

    @include g.mq(pc) {
      padding-left: 466px
    }
    @media screen and (min-width: 1280px) {
      padding-left: 50%;
    }

    @include g.mq(sp) {
      padding: 45vw 0 0;
    }
  }

  &__bnrlink {
    @include g.mq(pc) {
      display: flex;
      justify-content: space-between;
    }

    @include g.mq(sp) {
      display: block;
    }
  }
}

@keyframes img-wrap {
  100% {
    transform: translateX(100%);
  }
}

@keyframes scroll {
  0% {
    height: 0;
  }

  50% {
    height: 100px;
    margin-top: 0;
  }

  100% {
    margin-top: 100px;
    height: 100px;
  }
}

@keyframes textanimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}