<section class="p-company" id="p-company">
  <div class="p-first-view__intro l-wrapper__outmargin company">
    <div class="p-first-view__intro--textblc">
      <h2 class="c-bnrlink__ttl u-text__opensans">COMPANY<br>
        <span class="c-bnrlink__subttl u-text__notosans-jp">会社概要</span>
      </h2>
    </div>
  </div>


  <div class="l-wrapper__intro">
    <div class="p-company__introduce l-wrapper__block">
      <div class="p-company__introduce--maintext">

        <div class="p-company__introduce--maintext-blc">

          <h3 class="u-text__h2">Philosophy<br>
            <span class="u-text__subttl-jp u-margin__subttl-jp u-margin__ttl-en-top">レバレジーズグループの企業理念</span>
          </h3>

          <div class="p-company__introduce--smallblc">
            <p class="u-text__heading">顧客の創造を通じて、関係者全員の幸福を追求し、各個人の成長を促す</p>
          </div>

          <p class="u-text__maintxt">自分の為になることが人の為になり、人の為になることが自分の為になる。<br>
            そう考え行動する人を増やすことで、世の中全体の発展に貢献すること。<br>
            このような想いが、レバレジーズグループの企業理念の背景には込められています。<br>
            今行っている事業も、これから生まれる事業も、すべてはこの理念が基盤です。<br>
            レバレジーズグループは、会社を含めた社会全体の永続的な繁栄を目指し、<br class="pc">
            成長を続けます。</p>
        </div>

        <div>

          <h3 class="u-text__h2">Vision<br>
            <span class="u-text__subttl-jp u-margin__subttl-jp u-margin__ttl-en-top">レバレジーズグループのビジョン</span>
          </h3>

          <div class="p-company__introduce--smallblc">
            <p class="u-text__heading">国、業界をまたいで素早くかつ健全に拡大し、<br class="tb">
              参入した業界において最も競争優位性のある会社になる。<br>
              その為に、人的価値の向上と成果への貢献に全メンバーが努力する。</p>
          </div>
          <p class="u-text__maintxt">高速でグローバル化が進む世界、<br class="tb">
            日々目まぐるしく変化し拡大し続けるビジネスのフィールド。<br>
            途上国の人的資源が注目され賃金水準が上昇する状況に対し、<br class="tb">
            先進国であるはずの日本の賃金水準は年々下がる一方です。<br>
            そのような環境の中、レバレジーズの社員全員が賃金下落の渦に巻き込まれることなく、世の中に多大な価値を提供する企業の一員であるためにはどうするべきか。<br>
            それは、どのような業界においても競争優位性を高く持った商品・サービスを提供し続けることだと、私達は信じています。<br>
            ビジョン実現のためにレバレジーズでは社員1人1人の人的価値の向上を目指し、<br class="tb">
            「スキルの成長」と「マインドの成長」の二軸に重きを置いています。</p>

        </div>

      </div>
      <!--/.p-company__introduce--maintext -->

      <div class="p-company__introduce--image"></div>

    </div>

  </div>
</section>

<section class="p-company__message" id="company__message">
  <div class="l-wrapper__inner">
    <div class="p-company__message--inner">
      <div class="p-company__message--word">

        <h3 class="u-text__h2">Message<br>
          <span class="u-text__subttl-jp u-margin__subttl-jp u-margin__ttl-en-top">代表メッセージ</span>
        </h3>

        <div class="p-company__message--ttlblc">
          <p class="u-text__heading">岩槻 知秀</p>
          <p class="u-text__en p-company__message--enname">TOMOHIDE IWATSUKI</p>
        </div>
        <p class="u-text__subttl p-company__message--feature">多様性を尊重し、<br class="sp">柔軟な働き方を創造する</p>
        <p class="u-text__maintxt p-company__message--feature">当社は、レバレジーズメディカルケア株式会社から派遣事業部門が独立する形で、2025年に設立されました。</p>
        <p class="u-text__maintxt p-company__message--feature">
          働き方の多様化が進む中、派遣業界は大きな転換期を迎えています。私たちは、新たな時代のニーズに応える柔軟で多様な職業選択の機会を提供することに注力してまいります。</p>
        <p class="u-text__maintxt">業界特化型の人材サービスという当社の強みを活かし、クライアント企業とスタッフ双方のニーズに応えていきます。</p>
      </div>
    </div>
  </div>
</section>

<section class="p-company__service l-wrapper__outmargin">
  <div class="inner">
    <div class="l-wrapper__block">
      <h3 class="u-text__h2">Service<br>
        <span class="u-text__subttl-jp u-margin__subttl-jp u-margin__ttl-en-top">事業紹介</span>
      </h3>

      <div class="p-company__service--inner">
        <div class="c-tile__service mbtile">
          <picture>
            <source srcset="<%= pageinit.path %>img/company-service01.webp" type="image/webp" />
            <img src="<%= pageinit.path %>img/company-service01.png" alt="company-service01" width="1464" height="600" />
          </picture>
          <div class="c-tile__service--txtblc">
            <p class="c-tile__service--ttl u-text__notosans-jp">看護師派遣事業</p>
            <p class="u-text__maintxt">
              2009年より開始した看護業界に特化した人材紹介・人材派遣サービスです。看護師にとっての不安や疑問を一番に相談する"相談窓口"となることを目指し、手厚いフォロー体制で全国の看護師の転職をサポートしています。
            </p>
          </div>
        </div>

        <div class="c-tile__service">
          <picture>
            <source srcset="<%= pageinit.path %>img/company-service02.webp" type="image/webp" />
            <img src="<%= pageinit.path %>img/company-service02.png" alt="company-service02" width="1464" height="600" />
          </picture>
          <div class="c-tile__service--txtblc">
            <p class="c-tile__service--ttl u-text__notosans-jp">介護士派遣事業</p>
            <p class="u-text__maintxt">
              2015年より開始した、介護業界に特化した人材紹介・人材派遣サービスです。「レバウェル介護」は主要都市を中心として、地方都市にも展開しており、これまで6,000人以上の就職を支援しています。</p>
          </div>
        </div>
      </div>

    </div>
  </div>

</section>

<section class="p-company__profile inner">
  <div class="l-wrapper__containts">
    <h3 class="u-text__h2">Company Profile<br>
      <span class="u-text__subttl-jp u-margin__subttl-jp u-margin__ttl-en-top">会社概要</span>
    </h3>


    <div class="p-company__profile--info">
      <div class="p-company__profile--table">
        <dl class="p-company__profile--table-tr">
          <dt class="p-company__profile--table-th">
            <p class="u-text__profile--ttl">会社名</p>
          </dt>
          <dd class="p-company__profile--table-td">
            <p class="u-text__profile--txt">レバレジーズスタッフィング株式会社</p>
          </dd>
        </dl>
        <dl class="p-company__profile--table-tr">
          <dt class="p-company__profile--table-th">
            <p class="u-text__profile--ttl">本社所在地</p>
          </dt>
          <dd class="p-company__profile--table-td">
            <p class="u-text__profile--txt">東京都渋谷区渋谷二丁目24番12号</p>
          </dd>
        </dl>
        <dl class="p-company__profile--table-tr">
          <dt class="p-company__profile--table-th">
            <p class="u-text__profile--ttl">設立</p>
          </dt>
          <dd class="p-company__profile--table-td">
            <p class="u-text__profile--txt">2024年5月24日</p>
          </dd>
        </dl>
        <dl class="p-company__profile--table-tr">
          <dt class="p-company__profile--table-th">
            <p class="u-text__profile--ttl">資本金</p>
          </dt>
          <dd class="p-company__profile--table-td">
            <p class="u-text__profile--txt">3,000万円</p>
          </dd>
        </dl>

        <dl class="p-company__profile--table-tr">
          <dt class="p-company__profile--table-th">
            <p class="u-text__profile--ttl">役員</p>
          </dt>
          <dd class="p-company__profile--table-td">

            <ul class="p-company__profile--manager">
              <li class="p-company__profile--manager-td">
                <div class="p-company__profile--manager-blc">
                  <p class="u-text__profile--txt">代表取締役</p>
                </div>
                <p class="u-text__profile--txt">岩槻 知秀</p>
              </li>
              <li class="p-company__profile--manager-td">
                <div class="p-company__profile--manager-blc">
                  <p class="u-text__profile--txt">取締役</p>
                </div>
                <p class="u-text__profile--txt">溝口 幸治郎</p>
              </li>
            </ul>

          </dd>
        </dl>


        <dl class="p-company__profile--table-tr">
          <dt class="p-company__profile--table-th">
            <p class="u-text__profile--ttl">事業内容</p>
          </dt>
          <dd class="p-company__profile--table-td">
            <p class="u-text__profile--txt">人材派遣事業</p>
          </dd>
        </dl>
        <dl class="p-company__profile--table-tr">
          <dt class="p-company__profile--table-th">
            <p class="u-text__profile--ttl">拠点</p>
          </dt>
          <dd class="p-company__profile--table-td">
            <p class="u-text__profile--txt">札幌、仙台、船橋、さいたま、立川、横浜、静岡、名古屋、大阪、広島、福岡</p>
            <p class="u-text__profile--note p-company__profile--note">※2024年7月現在、営業所含む</p>
          </dd>
        </dl>
        <dl class="p-company__profile--table-tr">
          <dt class="p-company__profile--table-th">
            <p class="u-text__profile--ttl">認定</p>
          </dt>
          <dd class="p-company__profile--table-td">
            <p class="u-text__profile--txt">労働者派遣事業許可番号：派13-310987</p>
          </dd>
        </dl>
      </div>
    </div>
  </div>
</section>