<section class="p-contact inner">
  <div class="l-wrapper__containts">
    <h3 class="u-text__h2">Thank You<br>
      <span class="u-text__subttl-jp u-margin__subttl-jp u-margin__ttl-en-top">お問い合わせ内容を送信しました</span>
    </h3>
    <div class="p-contact__textwrap">
      <p class="u-text__maintxt">担当者よりお電話、もしくはメールにてご連絡させていただきます。<br>
        今後とも、レバレジーズスタッフィングをよろしくお願いいたします。</p>
    </div>
    <div class="c-paragraph__error--btn">
      <div class="c-button__common--wrapper">
        <a href="/" class="c-button__common">
          
          <span class="c-button__common--txt">TOPへ戻る</span>
          <span class="c-button__common--arrow"></span>
        </a>
      </div>
    </div>

  </div>
</section>   