<section class="l-wrapper__noindex">
  <div class="c-paragraph__error">
    <picture class="c-paragraph__error--img">
      <source srcset="<%= pageinit.path %>assets/img/icon-triangleExclamation.webp" type="image/webp" />
      <img src="<%= pageinit.path %>assets/img/icon-triangleExclamation.png" alt="icon-triangleExclamation" width="114" height="100" />
    </picture>
    <h3 class="u-text__error--ttl">404 Not Found</h3>
  </div>

  <div class="c-paragraph__text">
    <p class="u-text__heading center">お探しのページが見つかりません</p>
  </div>

  <p class="u-text__maintxt center">お探しのページは削除されたか、一時的にご利用できない可能性があります。<br>
    ページのURLが間違っていないかご確認ください。</p>
  <div class="c-paragraph__error--btn">
    <div class="c-button__common--wrapper">
      <a href="/" class="c-button__common">TOPへ戻る</a>
    </div>
  </div>

</section>