

<div class="l-footer">
  <div class="l-footer__inner inner">
    <div class="l-footer__container">
      <div class="l-footer__block">
        <a href="/" class="l-footer__logo">
          <img src="<%= pageinit.path %>img/logo_footer.svg" width="100" height="49" alt="Leverages stuffing" />
        </a>
        <ul class="l-footer__policy">
          <li class="l-footer__policy--item"><a href="https://leverages.jp/privacypolicy/" target="_blank" rel="noreferrer">PRIVACY POLICY</a></li>
          <li class="l-footer__policy--item"><a href="https://leverages.jp/securitypolicy" target="_blank" rel="noreferrer">SECURITY POLICY</a></li>
          <li class="l-footer__policy--item"><a href="https://leverages.jp/informativedata" target="_blank" rel="noreferrer">INFORMATIVE DATA</a></li>
        </ul>
      </div>
      <ul class="l-footer__nav">
        <li class="l-footer__nav--item"><a href="https://leverages.jp/" target="_blank" rel="noreferrer">レバレジーズ株式会社</a></li>
        <li class="l-footer__nav--item">レバレジーズオフィスサポート株式会社</li>
        <li class="l-footer__nav--item"><a href="https://levtech.jp/" target="_blank" rel="noreferrer">レバテック株式会社</a></li>
        <li class="l-footer__nav--item"><a href="https://leverages-medicalcare.jp/" target="_blank" rel="noreferrer">レバレジーズメディカルケア株式会社</a></li>
        <li class="l-footer__nav--item"><a href="https://leveragesma.jp/" target="_blank" rel="noreferrer">レバレジーズM&Aアドバイザリー株式会社</a></li>
        <li class="l-footer__nav--item"><a href="https://lc-mexico.com/" target="_blank" rel="noreferrer">Leverages Career Mexico S.A. de C.V.</a></li>
        <li class="l-footer__nav--item"><a href="https://vn.leveragescareer.com/?lang=ja" target="_blank" rel="noreferrer">Leverages Career Vietnam Co., Ltd.</a></li>
        <li class="l-footer__nav--item">Leverages Career India Pvt. Ltd.</li>
        <li class="l-footer__nav--item">Leverages Career Shanghai Co.,Ltd</li>
        <li class="l-footer__nav--item">Leverages U.S. Inc.</li>
        <li class="l-footer__nav--item"><a href="https://atlike.co.jp/" target="_blank" rel="noreferrer">ATLIKE株式会社</a></li>
      </ul>
    </div>
    
    

    <small class="l-footer__copy">© 2024 Leverages Co., Ltd.</small>

  </div>

</div>