<section class="p-maintenance l-wrapper__noindex">
  <div class="c-paragraph__error">
    <picture class="c-paragraph__error--img">
      <source srcset="<%= pageinit.path %>img/icon-triangleExclamation.webp" type="image/webp" />
      <img src="<%= pageinit.path %>img/icon-triangleExclamation.png" alt="icon-triangleExclamation" width="114" height="100" />
    </picture>
    <h3 class="u-text__error--ttl">Under Maintenance</h3>
  </div>

  <div class="c-paragraph__text">
    <p class="u-text__heading center">ただいまメンテナンス中です</p>
  </div>

  <div class="p-maintenance__schedule--wrapper">
    <div class="p-maintenance__schedule">
      <p class="u-text__bold center red">メンテナンス日時 : <br class="sp">2023年12月21日 13:00〜20:00</p>
    </div>
  </div>

  <p class="u-text__maintxt center">ご迷惑をおかけし、申し訳ありません。<br>メンテナンス終了までしばらくお待ちください。</p>
</section>