<section class="l-recruit-footer" id="recruit-footer">
  
  <div class="l-recruit-footer__inner inner">
    <div class="l-recruit-footer__wrapper-ttl">
      <h2 class="l-recruit-footer__ttl">JOIN US!</h2>
      <p class="l-recruit-footer__subttl">新卒採用 スタート</p>
    </div>
    <div class="l-recruit-footer__wrapper-button">
      <div class="l-recruit-footer__button">
        <a href="/recruit/graduates/" target="_blank" rel="noreferrer" class="c-button__recruit">
          <span class="c-button__recruit--txt">新卒採用</span>
          <span class="c-button__recruit--arrow"></span>
        </a>
      </div>
      <div class="l-recruit-footer__button">
        <span class="c-button__midcarrer">中途採用</span>
      </div>

    </div>
  </div>
</section>