@use "../../global/" as g;

.u-margin{
  &__ttl-en-top{ 
    @include g.mq(pc){
      margin-top: 12px;
    }
    @include g.mq(sp){
      margin-top: 12px;
    }
  }
  &__ttl-en{ 
    @include g.mq(pc){
      margin-bottom: 12px;
    }
    @include g.mq(sp){
      margin-bottom: 12px;
    }
  }
  &__subttl-jp{
    @include g.mq(pc){
      margin-bottom: 40px;
    }
    @include g.mq(sp){
      margin-bottom: 40px;
    }    
  }
  &__text{
    @include g.mq(pc){
      margin-bottom: 32px;
    }
    @include g.mq(sp){
      margin-bottom: 24px;
    }
  }
}