@use "sass:map"; // mapモジュールを使う

/*----------------------------------------------------------*/
// メディアクエリ設定
/*----------------------------------------------------------*/
$breakpoint: (
  sp: 'screen and (max-width: 750px)',
  pc: 'screen and (min-width: 751px)',
//   pc: 'screen and (min-width: 1025px)'
);

@mixin mq($bp) {
    @media #{map.get($breakpoint, $bp)} {
        @content;
  }
}