$red: #E9092C;
$red-d: #99061D;
$bg-txt: #1F3134;
$bg: #F8F8F8;
$bg-d: #E8ECED;
$white: #FFFFFF;
$txt: #B3B3B3;
$line: #D9D9D9;
$txt-d: #6D6D6D;
$bg-d2:#CDD4D6;
$bnrlayer: rgb(31 49 52 / 0.6);
$bnrhover: rgb(102 71 71 / 0.7);

$color: #1F3134;