@use "../global/"as g;

.l-footer {
  background-color: g.$bg-txt;
  color: g.$white;
  @include g.mq(pc) {
    padding-bottom: 56px;
  }
  @include g.mq(sp) {

  }
  &__inner {
    @include g.mq(sp) {
      padding-top: 57px;
      padding-left: 25px;
      padding-bottom: 40px;
      padding-right: 0;
    }
  }
  &__container{
    @include g.mq(pc) {
      display: flex;
      padding: 56px 0;
      justify-content: space-between;
    }
    @include g.mq(sp) {
      display: block;
    }
  }
  &__logo{
    display: block;
  }
  &__block{
    max-width: 280px;
    width: 100%;
  }
  &__policy{
    margin-top: 40px;
    @include g.mq(sp) {
      margin-bottom: 40px;
    }
    li{
      margin-bottom: 16px;
      @include g.mq(sp) {
        margin-bottom: 16px;
      }
  
      a{
        transition: all 0.3s ease-in-out;

        &:hover{
          color: #a7adae;
        }
      }
    }
  }
  &__policy--item{
    font-family: "Noto Sans JP", serif;
    font-weight: 400; //Regular
    line-height: 100%;
    letter-spacing: 0.06em;
    @include g.font-rem(13);
  }
  &__nav{
    @include g.mq(pc) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
      max-width: 620px;
    }
    li{
      @include g.mq(pc) {
        margin-bottom: 32px;
        width: 50%;
      }
      @include g.mq(sp) {
        margin-bottom: 30px;
      }
      a{
        text-decoration: none;
        background-image: url('../img/arrrow_footernav.svg');
        background-size: 8px 11px;
        background-position: right center;
        background-repeat: no-repeat;
        display: block;
        transition: all 0.3s ease-in-out;
        &:hover{
          color: #a7adae;
          background-image: url('../img/arrrow_footernav-hover.svg');
        }
      }
    }
  }
  &__nav--item{
    font-family: "Noto Sans JP", serif;
    font-weight: 400; //Regular
    line-height: 110%;
    letter-spacing: 0.06em;
    @include g.font-rem(12);
    @include g.mq(pc){
      max-width: 280px;
      width: 100%;
    }
    @include g.mq(sp){
      max-width: 280px;
      width: 100%;
    }
  }
  &__copy {
    font-family: "Noto Sans JP", serif;
    font-weight: 400; //Regular
    line-height: 100%;
    letter-spacing: 0.06em;
    @include g.font-rem(12);
    // color: #f6f6f6;
    opacity: 0.4;
  }
}