@use "../global/"as g;

.l-recruit-footer {
  position: relative;
  width: 100%;
  background-color: g.$bg-d;
  @include g.mq(pc) {
    height: 140px;
  }
  &__imgblc{
    @include g.mq(pc) {
      position: absolute;
      right: 50%;
      top: 0;
      mask-image: url('../img/bg_r-footer.png');
      mask-repeat: no-repeat;
      mask-position: right 0 top 0;
      width: 50vw;
      height: 140px;
    }
    @include g.mq(sp) {
      display: none;
    }
  }
  &__imgblc--relative{
    @include g.mq(pc) {
      background-color: #708B9B;

      position: relative;
      min-height: 140px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      img{
        width: 100%;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

    }

  }
  @media screen and (max-width: 1023px) {
    background-image: url('../img/bg_footer-recruit-sp.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: top center;
  }

  @media screen and (max-width: 494px) {
    background-image: url('../img/bg_footer-recruit-sp.png');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 494px 338px;
  }
  &__contents{
    position: relative;
  padding: 32px 0;

  }
  &__inner {
    @include g.mq(pc) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    @include g.mq(sp) {
      display: block;
    }
  }
  &__ttl{
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    line-height: 100%;
    letter-spacing: 0.06em;
    color: g.$white;
    margin-bottom: 14px;
    @include g.mq(pc) {
      @include g.font-rem(48);
    }
    @include g.mq(sp) {
      @include g.font-rem(44);
      text-align: center;
    }
  }
  &__subttl{
    font-family: "Noto Sans JP", serif;
    font-weight: 400; //Regular
    line-height: 100%;
    letter-spacing: 0.06em;
    color: g.$white;
    @include g.font-rem(14);
    @include g.mq(sp) {
      text-align: center;
    }
  }
  &__wrapper-ttl{
    @include g.mq(sp) {
      margin: 0 auto 32px;
    }
  }
  &__wrapper-button{
    @include g.mq(pc) {
      display: flex;
      max-width: 600px;
      justify-content: space-between;
    }
    @include g.mq(sp) {
      display: block;
    }
  }
  &__button{
    max-width: 292px;
    width: 292px;
    @include g.mq(pc) {
      margin-left: 16px;
    }
    @include g.mq(sp) {
      margin: 0 auto 16px;
    }
  }

}